DATABASE_URL="db"
MODE=development
JWT_SECRET=e3f8b2d1c9a7e4f6b8c1d0e2a4b6c8d1e3f5a7b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b
PORT=4000

DEV_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyYmU3ZmUxOS04NDFlLTQ2OWUtYjIwNS05ZjQ3M2EzZWNkNjIiLCJuYW1lIjoiUmF0YXIiLCJhZG1pbiI6dHJ1ZSwiaWF0IjoxNTE2MjM5MDIyfQ.iPUM4vvUzqA10aIOpOrcbKv39HzMAgiOZVxsDIRX3sU